*{
	text-align: left;
}

.container-fluid {
width : 1200px;
height : 780px;
}

.container_high{
padding-top : 50px;
background-color: black;}

	.IMG1, .IMG2, .IMG3 {
		width : 100%;
		height : 200px;
		background-repeat: no-repeat;
		background-size : cover;
	}

	.IMG1:hover,.IMG2:hover,.IMG3:hover{opacity : 0.7;}

	.IMG1{	
		background-image: url("images/img1.jpg");
	}


	.IMG2{
		background-image: url("images/img2.jpg");
	}

	
	.IMG3{
		background-image: url("images/img3.jpg");
	}

	.txt_img1 a p,.txt_img2 a p, .txt_img3 a p{
		font-size : 12px;
		color : white;
		background-color: black;
		margin-top : 5px;
		margin-left: 5px;
		/*margin-bottom : 0px;*/
		}

	.txt_img1 a h2,.txt_img2 a h2, .txt_img3 a h2{
		font-size: 23px;
		color : white;
		background-color: black;
		margin-top : 5px;
		margin-left: 5px;
		/*margin-bottom : 0px;*/
		}


	.txt_img1 a p:hover,.txt_img2 a p:hover, .txt_img3 a p:hover{
	color: green;
	}

	.txt_img1 a h2:hover,.txt_img2 a h2:hover, .txt_img3 a h2:hover{
	color: green;
	}




.container_middle_center{}

	.col-md-12 p {color: black;
		font-size: 16px;
		padding-right: 100px;}

	.col-md-12 h1{
	font-size: 25px;}

	/*.col-md-12{padding-left: 40px;}*/

.col-md-12 a{
	font-size: 16px;
	color: green;
	}

.col-md-12 h1 {font-size:35px;}
.col-md-12 a:hover {
	text-decoration: none;
	color: green;
	opacity: 0.7;
	}

	.VIDEO{
		width: 350px;
		height: 250px;
	}

	.TEXT_BLOC_VIDEO{}

.container_middle_right{}

	.BLOC_DROIT_HAUT{
		margin-top : 50px;
		border-top : solid 5px black;
		border-bottom : solid 5px black;
	}

	.BLOC_DROIT_BAS{}

	.audiotheme{
		width : 315px;
		height : 180px;
		background-image: url(images/audiotheme-overview-video-thumbnail.jpg);
		background-size: 100%;
		background-repeat: no-repeat;
    	background-attachment: fixed;
    	background-position: center; 

	}
	.col-md-4 a {
	font-size: 20px;
	color: green;
	}

	.col-md-4 a:hover {
	text-decoration: none;
	color: green;
	opacity: 0.7;
	}

	.col-md-4 p{
	font-family:;
	font-size: 14px; }